@import "../variables.scss";

.nav-container {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
  margin: 2% 2.8% 5px auto;
  appearance: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  width: 45px;
  height: 45px;
  z-index: 1;
  position: relative;
  border: none;
}
.burger {
  background-color: black;
  width: 100%;
  height: 5px;
  border-radius: 5px;
}
.burger-top {
  transform: rotate(-45deg);
  position: relative;
  top: 7px;
}
.burger-bottom {
  transform: rotate(45deg);
  position: relative;
  bottom: 7px;
}

.nav {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s ease-out height, 0.3s ease-in opacity;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.isOpen {
  height: 100%;
  opacity: 100%;
}
.isClosed {
  height: 0%;
  opacity: 0%;
}

.link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}
.contact {
  margin-top: 45px;
}
.copyright {
  font-size: 0.65em;
  margin-top: 11px;
  font-family: Verdana, sans-serif;
  font-weight: 500;
  line-height: 1;
}
.active {
  font-weight: 900;
  font-size: 1.1em;
}

@media screen and (min-width: $desktop-display) {
  .nav-container {
    position: relative;
    width: 100%;
    margin-top: 55px;
    letter-spacing: 0;
  }
  .button {
    display: none;
  }
  .nav {
    height: auto !important;
    opacity: 100% !important;
    position: relative;
    line-height: 2em;
    font-size: 0.92em;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .active {
    font-size: inherit;
  }
}
