@import "../variables.scss";

.padding {
  padding: 5%;
}

.background {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}

.link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: black 2px 2px 2px;
  font-size: 16px;
  letter-spacing: -1px;
  text-align: center;
  line-height: 1.45em;
  font-weight: 600;
}

@media (hover: hover) {
  .link {
    opacity: 0%;
    background-color: rgba(255, 255, 255, 0.7);
    color: $text-color;
    text-shadow: none;
    letter-spacing: initial;
    transition: opacity 0.3s;
    &:hover {
      opacity: 100%;
    }
  }
}
