.content {
  h2 {
    font-weight: bold;
    font-size: 0.9rem;
  }
  a {
    text-decoration: underline;
    color: rgb(94, 94, 94);
  }
  p {
    display: block;
  }
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
  ol {
    list-style-type: decimal;
    padding-left: 25px;
  }
  ul {
    list-style: square;
    padding-left: 25px;
  }
  img {
    max-width: 100%;
  }
  [data-oembed-type="video"] {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 75%; //aspect-ratio 4:3
    > div {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      iframe {
        height: 100%;
        width: 100%;
      }
    }
  }
}
