.content {
  a {
    text-decoration: underline;
    color: rgb(94, 94, 94);
  }
  p {
    display: block;
    min-height: 1em;
    padding-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
  }
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
  ol {
    list-style-type: decimal;
    padding-left: 25px;
    padding-top: 10px;
    margin-bottom: 10px;
  }
  ul {
    list-style: square;
    padding-left: 25px;
    padding-top: 10px;
    margin-bottom: 10px;
  }
  img {
    max-width: 100%;
  }
  iframe {
    width: 100%;
    max-width: 100%;
  }
}
